// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "./../../node_modules/bootstrap/scss/bootstrap";

body {
    background-image: url('/images/image.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: red;
}